*.iml
.gradle
.idea/gradle.xml
.idea/modules.xml
.externalNativeBuild
.idea/
.DS_Store
/build
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/local.properties
/captures
/.idea/workspace.xml
**/MentorNet.iml
**/app/app.iml
**/mentornet.iml
**/.idea






